*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.gameplay{
  background-image: url('./Arquivos/Fundo.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fundoBack{
  background-image: url('./Arquivos/GameoverSMB-1.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sonic{
  width: 180px;
  position: absolute;
  bottom: 150px;
}

.eggman{
  width: 300px;
  position: absolute;
  right: 0px;
  bottom: 150px;
  animation-name: eggman-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.jump{
  animation-name: sonic-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes eggman-animation{
  0%{
    right: -300px;
  }
  100%{
    right: 1400px;
  }
}

@keyframes sonic-animation{
  0%{
    bottom: 150px;
  }
  50%{
    bottom: 450px;
  }
  100%{
    bottom: 150px;
  }
}

